---
import Layout from "@/layouts/Layout.astro";
import Nav from "@/components/nav.astro";
import ContactComponent from "@/components/contact.astro";
import Footer from "@/components/footer.astro";
---

<Layout title="Contact | Jaksa Vlahovic">
  <Nav />
  <main class="max-w-5xl mx-auto space-y-8 md:py-20 pb-14">
    <ContactComponent />
    <Footer />
  </main>
</Layout>
